.main-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container{
  background: white;
  width: 300px;
  height: auto;
}

.row{
  width: 100%;
  display: flex;
  background: rgb(132, 209, 209);
  justify-content: center;
  align-items: center;
}


